n8n/facebook-messenger-workflow.json
{
  "name": "Facebook Messenger to OpenClaw",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "match": "ALL"
        }
      },
      "id": "facebook-trigger",
      "name": "Facebook Trigger",
      "type": "n8n-nodes-base.facebookGraphApiTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "facebookGraphApi": {
          "id": "1",
          "name": "Facebook Graph API account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:8080/api/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "sender",
              "value": "={{ $json.sender }}"
            },
            {
              "name": "channel",
              "value": "facebook"
            }
          ]
        }
      },
      "id": "http-request",
      "name": "Send to OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "chatId": "8399476482",
        "text": "🔔 Facebook 新訊息：{{ $json.message }}",
        "additionalFields": {}
      },
      "id": "telegram-notify",
      "name": "Notify on Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram API account"
        }
      }
    }
  ],
  "connections": {
    "Facebook Trigger": {
      "main": [
        [
          {
            "node": "Send to OpenClaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to OpenClaw": {
      "main": [
        [
          {
            "node": "Notify on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-18T07:55:00.000Z",
  "versionId": "1"
}
